bin/*.c
bin/*.exe
bin/*.json
bin/*.pdb
bin/*.rdbg
bin/*.exp
bin/*.lib
bin/*.out
bin/litac_linux
bin/litac_mac
bin/test.txt
bin/release/**
bin/debug/**
.vscode/ipch
bin/litaC.exp
bin/litaC.lib
bin/litaC.pdb
litac-lsp.log
bin/litaC
bin/litac
bin/test_output
bin/litaC_test.*
bin/litaC_test
bin/litac_tests
bin_release/litaC.c
bin_release/litaC.exe
bin/litaC.pdb
bin/litac.dSYM**
bootstrap/litacc.dSYM**
test/output/*.c
bin/litac_tests.exp
bin/litac_tests.lib
bin/output/*.c
bin/output/*.exe
bin/output/*.pdb
bin/output/**
vstudio/**
bootstrap/*.exe
bootstrap/*.exp
bootstrap/*.lib
bootstrap/*.pdb
bootstrap/litacc
/**/node_modules/**
*.log
bootstrap/output/litac_tests.exe
bootstrap/output/litac_tests.pdb
bootstrap/output/**
/.pkgs
.build.json
*.dSYM*
.DS_Store

bin/profile.data.txt
