bin/*.c
bin/*.exe
bin/*.json
lib/*.lib
.vscode/ipch
bin/litaC.exp
bin/litaC.lib
bin/litaC.pdb
litac-lsp.log
bin/litaC
bin/litaC_test.*
bin/litaC_test
bin_release/litaC.c
bin_release/litaC.exe
bin/litaC.pdb
