# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Build for linux
  build-linux:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # apt-get update
      - name: Update apt-get registry
        run: |
          echo Update apt-get
          sudo apt-get update

      # Install tcc
      - name: Install tcc
        run: |
          echo Install tcc compiler
          sudo apt-get install -y tcc

      # Install libcurl
      - name: Install libcurl
        run: |
          echo Install libcurl
          sudo apt-get install -y curl
          sudo apt-get install -y libcurl4-openssl-dev
          curl --version

      # Print compiler information
      - name: Compiler Info
        run: |
          echo Installed compilers
          clang --version
          gcc --version
          tcc -version
      # Build bootstrap LitaC
      - name: Build Bootstrap
        run: |
          echo Building bootstrap
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build_bootstrap.sh

      # Build LitaC Compiler
      - name: Build LitaC Compiler
        run: |
          echo Building LitaC Compiler
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build.sh

      # Test LitaC Compiler
      - name: Test LitaC Compiler
        run: |
          echo Testing LitaC Compiler
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build_test.sh

  # Build for windows
  build-windows:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      # Print compiler information
      - name: Compiler Info
        run: |
          echo Installed compilers
          clang --version

      # Build bootstrap LitaC
      - name: Build Bootstrap
        shell: cmd
        run: |
          echo Building bootstrap
          set LITAC_HOME=%GITHUB_WORKSPACE%
          %GITHUB_WORKSPACE%/build_bootstrap.bat

      # Build LitaC Compiler
      - name: Build LitaC Compiler
        shell: cmd
        run: |
          echo Building LitaC Compiler
          set LITAC_HOME=%GITHUB_WORKSPACE%
          %GITHUB_WORKSPACE%/build.bat

      # Test LitaC Compiler
      - name: Test LitaC Compiler
        shell: cmd
        run: |
          echo Testing LitaC Compiler
          set LITAC_HOME=%GITHUB_WORKSPACE%
          %GITHUB_WORKSPACE%/build_test.bat

  # Build for macos
  build-macos:
    # The type of runner that the job will run on
    runs-on: macos-13

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Install tcc
      - name: Install tcc
        run: |
          echo Install tcc compiler
          git clone https://github.com/Alex2804/libtcc-cmake
          cd libtcc-cmake
          mkdir build
          cd build
          cmake ..
          make
          cd ../..
          cp --force libtcc-cmake/build/libtcc.a lib/libtcc.a
        # brew install --HEAD tcc


      # Print compiler information
      - name: Compiler Info
        run: |
          echo Installed compilers
          clang --version
          gcc --version
          curl --version
        # tcc -version

      # Build bootstrap LitaC
      - name: Build Bootstrap
        run: |
          echo Building bootstrap
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build_bootstrap.sh

      # Build LitaC Compiler
      - name: Build LitaC Compiler
        run: |
          echo Building LitaC Compiler
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build.sh

      # Test LitaC Compiler
      - name: Test LitaC Compiler
        run: |
          echo Testing LitaC Compiler
          export set LITAC_HOME=$GITHUB_WORKSPACE
          sh $GITHUB_WORKSPACE/build_test.sh